n8n-workflows/workflows/stream-started.json
{
  "name": "Stream Started",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stream-started",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1a1e2f10-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, 0],
      "webhookId": "stream-started"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "message",
              "type": "string",
              "value": "={{ '🔴 ' + $json.body.creatorUsername + ' just went live: \"' + $json.body.title + '\"' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a1e2f10-0001-4000-8000-000000000002",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [20, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"content\": $json.message } }}",
        "options": {}
      },
      "id": "1a1e2f10-0001-4000-8000-000000000003",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]]
    },
    "Format Message": {
      "main": [[{ "node": "Send Notification", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
