n8n-workflows/workflows/viewer-milestone.json
{
  "name": "Viewer Milestone",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "viewer-milestone",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "2b2e2f10-0002-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "webhookId": "viewer-milestone"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.viewerCount }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b2e2f10-0002-4000-8000-000000000002",
      "name": "IF viewerCount >= 100",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-180, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "message",
              "type": "string",
              "value": "={{ '🎉 \"' + $json.body.title + '\" just hit ' + $json.body.viewerCount + ' viewers!' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b2e2f10-0002-4000-8000-000000000003",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [40, -80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"content\": $json.message } }}",
        "options": {}
      },
      "id": "2b2e2f10-0002-4000-8000-000000000004",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, -80]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "IF viewerCount >= 100", "type": "main", "index": 0 }]]
    },
    "IF viewerCount >= 100": {
      "main": [
        [{ "node": "Format Message", "type": "main", "index": 0 }],
        []
      ]
    },
    "Format Message": {
      "main": [[{ "node": "Send Notification", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
